In [1]:
import pandas as pd

In [84]:
df_requests = pd.read_csv('raw_data/Requests.csv')
df_bookings = pd.read_csv('raw_data/Bookings.csv')
df_users = pd.read_csv('raw_data/Users.csv')

In [67]:
df_logins = pd.read_csv('raw_data/Logins.csv')
df_logins

,id_log,id_user,log_date,user_agent,referer_source
0,5,1,4/23/2012 9:07,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,www.bing.com
1,10,1,4/23/2012 9:41,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,www.google.com
2,22,1,4/23/2012 10:57,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,NaN
3,180,1,4/24/2012 16:18,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,NaN
4,777,1,5/7/2012 17:03,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,NaN
...,...,...,...,...,...
240893,345457,298570,12/16/2022 1:13,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,www.google.com
240894,345458,298571,12/16/2022 1:52,Mozilla/5.0 (iPhone; CPU iPhone OS 16_0 like M...,www.google.com
240895,345459,298572,12/16/2022 3:41,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,www.google.com
240896,345460,298573,12/16/2022 3:41,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,www.google.com
240897,345461,298574,12/16/2022 4:49,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,www.google.com

In [68]:
user_agent = df_logins.loc[0,'user_agent']
user_agent

'Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.1; WOW64; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; AskTbORJ/5.14.1.20007; MATM)'

In [13]:
def get_device(user_agent):
    try:
        device = user_agent.split('(')[1].split(';')[0]
        if ' ' in device:
            device = device.split(' ')[0]
    except:
        print(user_agent)
        return None
    return device

get_device(user_agent)

'compatible'

In [69]:


for i,row in enumerate(df_logins['user_agent']):
    df_logins.loc[i,'device'] =get_device(row)
df_logins['device']

BlackBerry8520/5.0.0.822 Profile/MIDP-2.1 Configuration/CLDC-1.1 VendorID/132
MT6795_TD/V1 Linux/3.10.65+ Android/5.0 ALLVIEW_X2_Soul_Lite Release/1.8.2015 Browser/AppleWebKit537.36 Chrome/39.0.0.0 Mobile Safari/537.36 System/Android 5.0;
Lyra-Network Agent
Lyra-Network Agent
Lyra-Network Agent
Lyra-Network Agent
Lyra-Network Agent
Lyra-Network Agent
Lyra-Network Agent
Lyra-Network Agent
Lyra-Network Agent
Lyra-Network Agent
Lyra-Network Agent

0         compatible
1            Windows
2            Windows
3            Windows
4            Windows
             ...
240893     Macintosh
240894        iPhone
240895     Macintosh
240896       Windows
240897       Windows
Name: device, Length: 240898, dtype: object

In [70]:
df_logins['device'].unique()

array(['compatible', 'Windows', 'iPad', 'iPhone', 'Macintosh', 'Linux',
       'X11', None, 'Mobile', 'Android', 'Unknown', 'BB10', 'Symbian/3',
       'SMART-TV', 'BlackBerry', 'iPod', 'PlayStation', 'SAMSUNG',
       'PLAYSTATION', 'MSIE', 'PlayBook', '', 'Fedora', 'HABFED',
       'Linux/3.4.5', 'LTLM888'], dtype=object)

In [71]:
df_logins['device'].nunique()

25

In [79]:
def get_mac(user_agent):
    mac_list = ['Macintosh', 'iPhone','iPad', 'iPod']
    try:
        device = user_agent.split('(')[1].split(';')[0]
        if ' ' in device:
            device = device.split(' ')[0]
    except:
        return int(0)
    if device in mac_list:
        return int(1)
    else:
        return int(0)

# get_mac(user_agent)

In [80]:
for i,row in enumerate(df_logins['user_agent']):
    df_logins.loc[i,'is_Mac'] =get_mac(row)
df_logins['is_Mac']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
240893    1.0
240894    1.0
240895    1.0
240896    0.0
240897    0.0
Name: is_Mac, Length: 240898, dtype: float64

In [78]:
df_logins.sample()

,id_log,id_user,log_date,user_agent,referer_source,device,is_Mac
52096,289771,65736,11/20/2021 18:06,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,www.bing.com,Windows,0.0

In [56]:
df_logins.shape

(240898, 7)

In [57]:
df_logins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240898 entries, 0 to 240897
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_log          240898 non-null  int64
 1   id_user         240898 non-null  int64
 2   log_date        240898 non-null  object
 3   user_agent      240898 non-null  object
 4   referer_source  187257 non-null  object
 5   device          240885 non-null  object
 6   is_Mac          240898 non-null  object
dtypes: int64(2), object(5)
memory usage: 12.9+ MB

In [60]:
df_logins['id_user'].nunique()

150654

In [81]:
df_logins.groupby(by='is_Mac').count().loc['Apple','device']/df_logins.shape[0]

KeyError: 'Apple'

In [ ]:
mac_log_df1 = df_logins.groupby('id_user')['is_Mac'].agg(lambda x: x.value_counts().index[0]).to_frame()
mac_log_df1

         is_Mac
id_user
1             0
6             0
10            0
14            0
17            0
...         ...
298570        1
298571        1
298572        1
298573        0
298574        0

[150654 rows x 1 columns]

In [83]:
mac_log_df1.shape

NameError: name 'mac_log_df1' is not defined

In [51]:
mac_log_df2 = df_logins.groupby('id_user')['is_Mac'].agg(pd.Series.mode).to_frame()
mac_log_df2

        is_Mac
id_user
1            0
6            0
10           0
14           0
17           0
...        ...
298570       1
298571       1
298572       1
298573       0
298574       0

[150654 rows x 1 columns]

In [52]:
mac_log_df2.shape

(150654, 1)

In [82]:
mac_log_df = df_logins.groupby('id_user').agg({'is_Mac':pd.Series.mode,'log_date':pd.Series.count}).rename(columns={"log_date": "Nb_of_logs"})
mac_log_df

        is_Mac  Nb_of_logs
id_user
1          0.0          21
6          0.0         141
10         0.0           2
14         0.0           1
17         0.0          15
...        ...         ...
298570     1.0           1
298571     1.0           1
298572     1.0           1
298573     0.0           1
298574     0.0           1

[150654 rows x 2 columns]

# Boat model name exercise

In [ ]:
boat_types = ['Sailboat','Catamaran','Motor boat', 'Luxury yacht','Gulet','RIB','Power catamaran', 'Houseboat']

In [85]:
df_requests.head()

,id_request,id_user,is_new_user,request_date,id_charter_company,id_charter_boat,charter_type,id_country,country_name,id_destination,destination_name,destination_flexible,id_boat_model,boat_model_name,adults,kids,start_date,end_date,flexible_date
0,2,47097,1,1/29/2015 12:56,16,100,1,73.0,Greece,462,Santorini,0,480,Oceanis 46,5,2,7/27/2015,8/1/2015,3
1,3,47098,1,1/29/2015 13:11,131,3190,1,67.0,France,379,Hyï¿½res,1,1087,Elan 333,8,0,8/8/2015,8/15/2015,3
2,4,47099,1,1/29/2015 13:12,297,16537,0,73.0,Greece,447,Skiathos island,0,639,Sun Odyssey 42i,4,0,8/29/2015,9/12/2015,0
3,5,47100,1,1/29/2015 13:14,1371,13637,0,73.0,Greece,446,Lefkada,0,922,Bavaria 46 Cruiser,6,0,7/11/2015,7/18/2015,7
4,6,47100,0,1/29/2015 13:22,1059,16476,0,73.0,Greece,443,Lavrio,0,2720,Lagoon 400 S2,7,0,6/6/2015,6/13/2015,0

In [93]:
df_requests['boat_model_name'].nunique()

3637

In [96]:
pd.options.display.max_rows = 500
list(df_requests['boat_model_name'].unique())[:100]

['Oceanis 46',
 'Elan 333',
 'Sun Odyssey 42i',
 'Bavaria 46 Cruiser',
 'Lagoon 400 S2',
 'Oceanis 41',
 'Oceanis 40',
 'Atlantis 43',
 'Admiral',
 'Oceanis 351',
 'Bavaria 47 Cruiser',
 'First 40',
 'Bavaria 51 Cruiser',
 'Oceanis 43',
 'Ovni 365',
 'Bavaria 31 Cruiser',
 'Delphia 47',
 'Mahï¿½ 36',
 'Oceanis 45',
 'Beneteau 50',
 'Sun Odyssey 40',
 'Lagoon 500',
 'First 36.7',
 'Bavaria 37 Cruiser',
 'Lagoon 440',
 'Helia 44',
 'Oceanis 50',
 'Crownline 205',
 'Sun Odyssey 36i',
 'Dufour 455',
 'Lagoon 52',
 'Moody 45 DS',
 'Bavaria 40 Cruiser',
 'Lagoon 39',
 'Bavaria 50 Cruiser',
 'Merry Fisher 625',
 'Luka',
 'Lagoon 380',
 'Sun Odyssey 36.2',
 'Jeanneau 53',
 'Lagoon 470',
 'Lagoon 450',
 'Sun Odyssey 32',
 'Oceanis 37',
 'First 40.7',
 'Birchwood TS 54',
 'Grand surprise',
 'Dufour 40',
 'Athena 38',
 'Sun Odyssey 32i',
 'Bavaria 44',
 'Menorquin 36 pams',
 'Oceanis 411',
 'Leopard 39',
 'Sun Odyssey 349',
 'Delphia 31',
 'Cumberland 44',
 nan,
 'Oceanis 343',
 'Nautitech 47',
 'Bavaria 45 Cruiser',
 'Bavaria 33 Cruiser',
 '525 Commander',
 'Jaguar 76 Sport',
 'Sun Odyssey 30i',
 'Sun Magic 44',
 'First 51',
 'BWA Sport 22 GT',
 'Bavaria 42',
 'Dufour 450 Grand Large',
 'Bavaria 50',
 'Bavaria 30 Cruiser',
 'Sun Odyssey 45',
 'Prestige 400',
 'Flyer 650 Sun Deck',
 'Bavaria 35 Match',
 'BMB 37',
 'Lagoon 420',
 'Nautitech 40',
 'Oceanis 31',
 'Malena',
 'Mahï¿½ 36 Evolution',
 'Sun Odyssey 37',
 'Oceanis 311 Clipper',
 'Salona 40',
 'Zar 53',
 'Oceanis 323',
 'Lagoon 400',
 'Sun Odyssey 42 DS',
 'Lipari 41',
 'Cap Camarat 715 WA',
 'Bavaria 38',
 'Bavaria 36 Cruiser',
 'Tiho',
 'Hanse 342',
 'Oceanis 331',
 'Sun Odyssey 509',
 'Starfisher 840 fly',
 'Cyclades 43.4',
 'Rancraft 18.20']

In [91]:
print(pd.options.display.max_rows)

60

In [ ]:
pd.options.display.max_rows = None