In [1]:
import pandas as pd

In [4]:
df_users = pd.read_csv('raw_data/Users.csv')
df_users.head()

,id_user,id_support,email_is_valid,creation_date,last_login_date,auto_reminder_date,civility,birthday,timezone_offset,country,country_name,default_language,default_currency,newsletter,partners_newsletter
0,1,1,1,0000-00-00 00:00:00,11/9/2022 1:41,10/13/2023,Mr,2/5/1969,NaN,FR,France,en_US,NaN,1,1
1,6,2,1,0000-00-00 00:00:00,11/10/2022 15:35,10/13/2023,Mr,2/26/1984,NaN,FR,France,fr_FR,NaN,0,0
2,10,172,1,0000-00-00 00:00:00,4/26/2022 14:55,11/24/2023,Mr,2/10/1983,NaN,FR,France,fr_FR,NaN,0,0
3,14,13,1,0000-00-00 00:00:00,12/13/2016 22:35,5/5/2023,Mr,4/8/1959,NaN,FR,France,fr_FR,NaN,0,0
4,17,13,1,0000-00-00 00:00:00,4/14/2019 18:34,11/10/2023,Mr,0000-00-00,NaN,FR,France,fr_FR,NaN,0,0

In [6]:
df_users['civility'].value_counts()

Mr       109970
Ms        40753
Dr.         505
Prof.        52
Name: civility, dtype: int64

In [17]:
(505+52+182)/151461

0.004879143805996263

In [10]:
40753/150000

0.2716866666666667

In [16]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151462 entries, 0 to 151461
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id_user              151462 non-null  int64
 1   id_support           151462 non-null  int64
 2   email_is_valid       151462 non-null  object
 3   creation_date        151462 non-null  object
 4   last_login_date      151462 non-null  object
 5   auto_reminder_date   151429 non-null  object
 6   civility             151280 non-null  object
 7   birthday             151462 non-null  object
 8   timezone_offset      113398 non-null  float64
 9   country              151457 non-null  object
 10  country_name         151462 non-null  object
 11  default_language     151462 non-null  object
 12  default_currency     143177 non-null  object
 13  newsletter           151462 non-null  int64
 14  partners_newsletter  151462 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 17.3+ MB

In [15]:
df_users[df_users['civility'].isna()]

(182, 15)

In [18]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy=