# Data

## Data import and check

In [1]:
import pandas as pd
import numpy as np
import random

#FYI. If the csv is not working transform data to utf-8 encoding via Visual Studio, otherwise it doesn't open

df_requests = pd.read_csv('raw_data/Requests.csv')
df_bookings = pd.read_csv('raw_data/Bookings.csv')
df_users = pd.read_csv('raw_data/Users.csv')
df_logins = pd.read_csv('raw_data/Logins.csv')

## Datasets and its descriptions

In [2]:
pd.set_option('display.max_columns', None)
df_requests

,id_request,id_user,is_new_user,request_date,id_charter_company,id_charter_boat,charter_type,id_country,country_name,id_destination,destination_name,destination_flexible,id_boat_model,boat_model_name,adults,kids,start_date,end_date,flexible_date
0,2,47097,1,1/29/2015 12:56,16,100,1,73.0,Greece,462,Santorini,0,480,Oceanis 46,5,2,7/27/2015,8/1/2015,3
1,3,47098,1,1/29/2015 13:11,131,3190,1,67.0,France,379,Hyï¿½res,1,1087,Elan 333,8,0,8/8/2015,8/15/2015,3
2,4,47099,1,1/29/2015 13:12,297,16537,0,73.0,Greece,447,Skiathos island,0,639,Sun Odyssey 42i,4,0,8/29/2015,9/12/2015,0
3,5,47100,1,1/29/2015 13:14,1371,13637,0,73.0,Greece,446,Lefkada,0,922,Bavaria 46 Cruiser,6,0,7/11/2015,7/18/2015,7
4,6,47100,0,1/29/2015 13:22,1059,16476,0,73.0,Greece,443,Lavrio,0,2720,Lagoon 400 S2,7,0,6/6/2015,6/13/2015,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200671,200675,298571,0,12/16/2022 1:52,223,44388,1,20.0,The Bahamas,1305,Palm Cay Marina,0,4697,Dufour 390 Grand Large,2,0,2/13/2023,2/13/2023,0
200672,200676,298572,0,12/16/2022 3:41,300,31926,1,218.0,Thailand,1278,Phuket,0,3633,Lagoon 450 SporTop,5,0,6/3/2023,6/9/2023,7
200673,200677,298573,0,12/16/2022 3:41,1603,26086,1,108.0,Indonesia,1131,Labuan Bajo,0,4113,Phinisi,4,0,7/7/2023,7/10/2023,0
200674,200678,298574,0,12/16/2022 4:49,223,17393,0,145.0,Mexico,29,La Paz,0,1192,Lagoon 380,6,0,5/17/2023,5/20/2023,0
200675,200679,267246,0,12/16/2022 5:05,245,5192,1,173.0,French Polynesia,1078,Rangiroa,0,113,Kaila,3,0,2/13/2023,2/19/2023,3

In [3]:
df_requests.columns

Index(['id_request', 'id_user', 'is_new_user', 'request_date',
       'id_charter_company', 'id_charter_boat', 'charter_type', 'id_country',
       'country_name', 'id_destination', 'destination_name',
       'destination_flexible', 'id_boat_model', 'boat_model_name', 'adults',
       'kids', 'start_date', 'end_date', 'flexible_date'],
      dtype='object')

In [4]:
# 'id_request' - unique request id
# 'id_user' - unique user id
# 'is_new_user' - 1 - new user without account, 0 - already has account
# 'request_date' - date and hour of request
# 'id_charter_company' - id of the renter/charter company
# 'id_charter_boat' - id of boat (each boat is unique)
# 'charter_type' - 0 - without skipper, 1 - with skipper, 2 - cabin charter
# 'id_country' - id of requested country
# 'country_name' - requested country
# 'id_destination' - id of requested city
# 'destination_name' - requested city
# 'destination_flexible' - is client open for changes of destination 1- yes, 0 - no
# 'id_boat_model'- id of boat model
# 'boat_model_name' boat model name
# 'adults' - how many adults excpected on the board
# 'adults' - how many adults excpected on the board
# 'start_date'- requested start date of the rental
# 'end_date'- requested end date of the rental
# 'flexible_date' - 0 - no flexibility, 3 - up to 3 days, 7 - up to 7 days

In [5]:
pd.set_option('display.max_columns', None)

df_bookings.head(5)

,id_booking,id_user,id_charter_company,id_support,booking_date,currency,insurance_cancel,insurance_damage,insurance_flex,insurance_gs_damage,service_concierge,id_boat_model,boat_model_name,id_charter_boat,id_country_start,country_start_name,id_destination_start,destination_start_name,id_country_end,country_end_name,id_destination_end,destination_end_name,start_date,end_date,final_price_eur
0,1,344,639,0,7/25/2010 23:02,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,NaN,1848.0,Sea Ray 185 Sport,1820.0,53.0,Croatia,281.0,Punat,53.0,Croatia,281.0,Punat,8/9/2010,8/14/2010,1026.0
1,2,430,276,0,7/29/2010 21:10,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,NaN,915.0,Bavaria 36,896.0,175.0,Portugal,157.0,Vilamoura Marina,175.0,Portugal,157.0,Vilamoura Marina,8/7/2010,8/14/2010,1638.0
2,8,59,32,1,8/17/2010 14:01,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,NaN,783.0,Dufour 30,501.0,67.0,France,97.0,Lorient,67.0,France,97.0,Lorient,9/18/2010,9/25/2010,760.0
3,9,586,46,3,8/12/2010 14:28,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,NaN,775.0,Dufour 365,0.0,67.0,France,425.0,Bandol,67.0,France,425.0,Bandol,8/21/2010,8/27/2010,1802.0
4,15,889,80,0,9/10/2010 21:45,EUR,0000-00-00,0000-00-00,0000-00-00,0000-00-00,NaN,356.0,First 36.7,1003.0,67.0,France,89.0,Brest,67.0,France,89.0,Brest,10/8/2010,10/10/2010,750.0

In [6]:
# 'id_booking' - unique id per booking
# 'id_user' - unique user id
# 'id_charter_company' - booked charter company
# 'id_support' - the id of commercial
# 'booking_date' - date and hour of booking
# 'currency' - paid currency
# 'insurance_cancel' - not important
# 'insurance_damage' - not important
# 'insurance_flex' - not important
# 'insurance_gs_damage' - not important
# 'service_concierge' -  not important
# 'id_boat_model' - final booked model id
# 'boat_model_name' - final booked model
# 'id_charter_boat' - final unique boat id
# 'id_country_start' - final booked country start id
# 'country_start_name' - final booked country start name
# 'id_destination_start' - final booked country start name
# 'destination_start_name' - final booked city start
# 'id_country_end' - final booked country end id
# 'country_end_name' - final booked country end name
# 'id_destination_end' - final booked country end name
# 'destination_end_name' - final booked city end
# 'start_date' - final booked start date
# 'end_date' - final booked start date
# 'final_price_eur' - final booked price

In [7]:
df_bookings.columns

Index(['id_booking', 'id_user', 'id_charter_company', 'id_support',
       'booking_date', 'currency', 'insurance_cancel', 'insurance_damage',
       'insurance_flex', 'insurance_gs_damage', 'service_concierge',
       'id_boat_model', 'boat_model_name', 'id_charter_boat',
       'id_country_start', 'country_start_name', 'id_destination_start',
       'destination_start_name', 'id_country_end', 'country_end_name',
       'id_destination_end', 'destination_end_name', 'start_date', 'end_date',
       'final_price_eur'],
      dtype='object')

In [8]:
df_users

,id_user,id_support,email_is_valid,creation_date,last_login_date,auto_reminder_date,civility,birthday,timezone_offset,country,country_name,default_language,default_currency,newsletter,partners_newsletter
0,1,1,1,0000-00-00 00:00:00,11/9/2022 1:41,10/13/2023,Mr,2/5/1969,NaN,FR,France,en_US,NaN,1,1
1,6,2,1,0000-00-00 00:00:00,11/10/2022 15:35,10/13/2023,Mr,2/26/1984,NaN,FR,France,fr_FR,NaN,0,0
2,10,172,1,0000-00-00 00:00:00,4/26/2022 14:55,11/24/2023,Mr,2/10/1983,NaN,FR,France,fr_FR,NaN,0,0
3,14,13,1,0000-00-00 00:00:00,12/13/2016 22:35,5/5/2023,Mr,4/8/1959,NaN,FR,France,fr_FR,NaN,0,0
4,17,13,1,0000-00-00 00:00:00,4/14/2019 18:34,11/10/2023,Mr,0000-00-00,NaN,FR,France,fr_FR,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151457,298570,0,1,12/16/2022 1:13,12/16/2022 1:14,NaN,Mr,0000-00-00,10.0,AU,Australia,en_US,AUD,1,1
151458,298571,0,1,12/16/2022 1:52,12/16/2022 1:58,NaN,Ms,0000-00-00,1.0,ES,Spain,es_ES,EUR,0,0
151459,298572,0,WRICDE,12/16/2022 3:41,12/16/2022 3:41,NaN,Mr,0000-00-00,8.0,SG,Singapore,en_US,EUR,0,0
151460,298573,0,1,12/16/2022 3:41,12/16/2022 3:42,NaN,Mr,0000-00-00,-5.0,CA,Canada,en_US,EUR,0,0
151461,298574,0,BMYYBW,12/16/2022 4:49,12/16/2022 4:55,NaN,Ms,0000-00-00,-6.0,MX,Mexico,es_ES,EUR,0,0

In [9]:
df_users.columns

Index(['id_user', 'id_support', 'email_is_valid', 'creation_date',
       'last_login_date', 'auto_reminder_date', 'civility', 'birthday',
       'timezone_offset', 'country', 'country_name', 'default_language',
       'default_currency', 'newsletter', 'partners_newsletter'],
      dtype='object')

In [10]:
# 'id_user' - unique user id
# 'id_support' -  the id of commercial
# 'email_is_valid' - did client confirmed his email or not, 1 - yes, 0 -  no
# 'creation_date' - date and time of creation of account
# 'last_login_date' - date and time of last login date
# 'auto_reminder_date' - the date of mail reminder sent
# 'civility' - sex
# 'birthday' - age
# 'timezone_offset' - hour adapted to timezone of client   (ex. -5 means that it is 5 hours earlier than in Paris time)
# 'country' - country abbreviation of client
# 'country_name' - country name of client
# 'default_language'- language of client
# 'default_currency'- currency of client
# 'newsletter' - subscribed/not subscribed to newsletter (1-  yes, 0 -  no)
# 'partners_newsletter' - subscribed/not subscribed to partners newsletter (1-  yes, 0 -  no)

In [11]:
df_logins

,id_log,id_user,log_date,user_agent,referer_source
0,5,1,4/23/2012 9:07,Mozilla/4.0 (compatible; MSIE 7.0; Windows NT ...,www.bing.com
1,10,1,4/23/2012 9:41,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,www.google.com
2,22,1,4/23/2012 10:57,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,NaN
3,180,1,4/24/2012 16:18,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,NaN
4,777,1,5/7/2012 17:03,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:11.0) G...,NaN
...,...,...,...,...,...
240893,345457,298570,12/16/2022 1:13,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,www.google.com
240894,345458,298571,12/16/2022 1:52,Mozilla/5.0 (iPhone; CPU iPhone OS 16_0 like M...,www.google.com
240895,345459,298572,12/16/2022 3:41,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,www.google.com
240896,345460,298573,12/16/2022 3:41,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,www.google.com
240897,345461,298574,12/16/2022 4:49,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,www.google.com

In [12]:
df_logins.columns

Index(['id_log', 'id_user', 'log_date', 'user_agent', 'referer_source'], dtype='object')

In [13]:
# 'id_log' - id of log 
# 'id_user' -  unique user id
# 'log_date' - date and time per log
# 'user_agent' - user agent information
# 'referer_source' - info about browser

## Description of unique values

In [14]:
df_requests.nunique()

id_request              200676
id_user                 151665
is_new_user                  2
request_date            192954
id_charter_company        1542
id_charter_boat          23464
charter_type                 3
id_country                  90
country_name                89
id_destination             856
destination_name           850
destination_flexible         2
id_boat_model             3675
boat_model_name           3637
adults                      22
kids                        22
start_date                3285
end_date                  3304
flexible_date                4
dtype: int64

In [15]:
df_bookings.nunique()

id_booking                31403
id_user                   21854
id_charter_company         1046
id_support                  126
booking_date              31004
currency                      4
insurance_cancel           1496
insurance_damage           2397
insurance_flex              574
insurance_gs_damage          34
service_concierge           868
id_boat_model              1588
boat_model_name            1577
id_charter_boat           12225
id_country_start             57
country_start_name           57
id_destination_start        545
destination_start_name      544
id_country_end               57
country_end_name             57
id_destination_end          552
destination_end_name        551
start_date                 2574
end_date                   2647
final_price_eur           12498
dtype: int64

In [16]:
df_logins.nunique()

id_log            240898
id_user           150654
log_date          229362
user_agent         30192
referer_source       802
dtype: int64

In [17]:
df_users.nunique()

id_user                151462
id_support                144
email_is_valid          11519
creation_date          147269
last_login_date        146424
auto_reminder_date        731
civility                    4
birthday                 8926
timezone_offset            26
country                   200
country_name              201
default_language            7
default_currency           12
newsletter                  2
partners_newsletter         2
dtype: int64

In [18]:
df_requests.columns

Index(['id_request', 'id_user', 'is_new_user', 'request_date',
       'id_charter_company', 'id_charter_boat', 'charter_type', 'id_country',
       'country_name', 'id_destination', 'destination_name',
       'destination_flexible', 'id_boat_model', 'boat_model_name', 'adults',
       'kids', 'start_date', 'end_date', 'flexible_date'],
      dtype='object')

## Missing Values analysis

In [19]:
df_requests.isna().sum()

id_request                0
id_user                   0
is_new_user               0
request_date              0
id_charter_company        0
id_charter_boat           0
charter_type              0
id_country               22
country_name            155
id_destination            0
destination_name         22
destination_flexible      0
id_boat_model             0
boat_model_name         305
adults                    0
kids                      0
start_date                0
end_date                  0
flexible_date             0
dtype: int64

In [20]:
df_bookings.isna().sum()

id_booking                    0
id_user                       0
id_charter_company            0
id_support                    0
booking_date                  0
currency                      0
insurance_cancel              0
insurance_damage              0
insurance_flex                0
insurance_gs_damage           0
service_concierge         29568
id_boat_model                 4
boat_model_name              26
id_charter_boat               4
id_country_start              5
country_start_name            5
id_destination_start          4
destination_start_name        5
id_country_end                5
country_end_name              5
id_destination_end            4
destination_end_name          5
start_date                    4
end_date                      4
final_price_eur               4
dtype: int64

In [21]:
df_logins.isna().sum()

id_log                0
id_user               0
log_date              0
user_agent            0
referer_source    53641
dtype: int64

In [22]:
df_users.isna().sum()

id_user                    0
id_support                 0
email_is_valid             0
creation_date              0
last_login_date            0
auto_reminder_date        33
civility                 182
birthday                   0
timezone_offset        38064
country                    5
country_name               0
default_language           0
default_currency        8285
newsletter                 0
partners_newsletter        0
dtype: int64

## Preselection of columns

In [23]:
## Selection of columns depending on the significance of missing values

In [24]:
#Dataset REQUESTS
#Dropped columns:
# 'id_charter_boat' - no siginificance of keeping unique boats
# 'id_destination' - no siginificance of keeping requested cities id
# 'destination_name' - no siginificance of keeping requested cities
# 'id_country' - not relevant
# 'id_boat_model' - impossible to segment the boats by category
# 'boat_model_name' - impossible to segment the boats by category

In [25]:
df_requests = df_requests[['id_request', 'id_user', 'is_new_user', 'request_date',
       'id_charter_company',  'charter_type',
       'country_name', 'destination_flexible',  'adults',
       'kids', 'start_date', 'end_date', 'flexible_date']]
df_requests.tail()

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date,end_date,flexible_date
200671,200675,298571,0,12/16/2022 1:52,223,1,The Bahamas,0,2,0,2/13/2023,2/13/2023,0
200672,200676,298572,0,12/16/2022 3:41,300,1,Thailand,0,5,0,6/3/2023,6/9/2023,7
200673,200677,298573,0,12/16/2022 3:41,1603,1,Indonesia,0,4,0,7/7/2023,7/10/2023,0
200674,200678,298574,0,12/16/2022 4:49,223,0,Mexico,0,6,0,5/17/2023,5/20/2023,0
200675,200679,267246,0,12/16/2022 5:05,245,1,French Polynesia,0,3,0,2/13/2023,2/19/2023,3

In [26]:
#Dataset BOOKINGS
#Dropped columns:
# 'id_support' - no significance of keeping the number of commercial assigned to client
# 'currency' - no significance of keeping currency, clients are forced to pay in euro
# 'insurance_cancel' - no significance of keeping in final dataset
# 'insurance_damage'- no significance of keeping in final dataset
# 'insurance_flex'- no significance of keeping in final dataset
# 'insurance_gs_damage'- no significance of keeping in final dataset
# 'service_concierge'- no significance of keeping in final dataset
# 'id_boat_model'- no significance of keeping in final dataset
# 'boat_model_name'- no significance of keeping in final dataset
# 'id_charter_boat'- no significance of keeping in final dataset
# 'id_country_start'- no significance of keeping in final dataset
# 'country_start_name'- no significance of keeping in final dataset
# 'id_destination_start'- no significance of keeping in final dataset
# 'destination_start_name'- no significance of keeping in final dataset
# 'id_country_end'- no significance of keeping in final dataset
# 'country_end_name'- no significance of keeping in final dataset
# 'id_destination_end'- no significance of keeping in final dataset
# 'destination_end_name'- no significance of keeping in final dataset
# 'final_price_eur'- no significance of keeping in final dataset

In [27]:
df_bookings = df_bookings[['id_booking', 'id_user', 'country_end_name', 'start_date', 'end_date']]
df_bookings.tail()

       id_booking  id_user country_end_name start_date    end_date
31398       49892   177348            Italy  7/22/2023   7/29/2023
31399       49893    68375           Greece  8/19/2023   8/26/2023
31400       49897    46627         Thailand  4/22/2023   4/29/2023
31401       49898    41403            Spain   7/1/2023    7/7/2023
31402       49900   297673          Croatia  9/30/2023  10/28/2023

In [28]:
df_users

,id_user,id_support,email_is_valid,creation_date,last_login_date,auto_reminder_date,civility,birthday,timezone_offset,country,country_name,default_language,default_currency,newsletter,partners_newsletter
0,1,1,1,0000-00-00 00:00:00,11/9/2022 1:41,10/13/2023,Mr,2/5/1969,NaN,FR,France,en_US,NaN,1,1
1,6,2,1,0000-00-00 00:00:00,11/10/2022 15:35,10/13/2023,Mr,2/26/1984,NaN,FR,France,fr_FR,NaN,0,0
2,10,172,1,0000-00-00 00:00:00,4/26/2022 14:55,11/24/2023,Mr,2/10/1983,NaN,FR,France,fr_FR,NaN,0,0
3,14,13,1,0000-00-00 00:00:00,12/13/2016 22:35,5/5/2023,Mr,4/8/1959,NaN,FR,France,fr_FR,NaN,0,0
4,17,13,1,0000-00-00 00:00:00,4/14/2019 18:34,11/10/2023,Mr,0000-00-00,NaN,FR,France,fr_FR,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151457,298570,0,1,12/16/2022 1:13,12/16/2022 1:14,NaN,Mr,0000-00-00,10.0,AU,Australia,en_US,AUD,1,1
151458,298571,0,1,12/16/2022 1:52,12/16/2022 1:58,NaN,Ms,0000-00-00,1.0,ES,Spain,es_ES,EUR,0,0
151459,298572,0,WRICDE,12/16/2022 3:41,12/16/2022 3:41,NaN,Mr,0000-00-00,8.0,SG,Singapore,en_US,EUR,0,0
151460,298573,0,1,12/16/2022 3:41,12/16/2022 3:42,NaN,Mr,0000-00-00,-5.0,CA,Canada,en_US,EUR,0,0
151461,298574,0,BMYYBW,12/16/2022 4:49,12/16/2022 4:55,NaN,Ms,0000-00-00,-6.0,MX,Mexico,es_ES,EUR,0,0

In [29]:
#Dataset USERS
#Dropped columns:
# 'id_support' - no need to know who was the commercial support
# 'email_is_valid' -  important but sometimes emails are validated few days after the creation of account
# 'last_login_date'
# 'auto_reminder_date' - seems not to be significant and not fixed in the time
# 'birthday' - to many missing values
# 'country' - better to keep countyr_name
# 'default_language' -  not significant
# 'default_currency' - not significant
# 'newsletter' - seems not to be significant and not fixed in the time
# 'partners_newsletter' - seems not to be significant and not fixed in the time
# 'timezone_offset' - not relevant because too many missing values
# 'last_login_date' - irrelevant

In [30]:
df_users = df_users[['id_user','creation_date', 'civility', 'country_name']]
df_users.tail()

        id_user    creation_date civility country_name
151457   298570  12/16/2022 1:13       Mr    Australia
151458   298571  12/16/2022 1:52       Ms        Spain
151459   298572  12/16/2022 3:41       Mr    Singapore
151460   298573  12/16/2022 3:41       Mr       Canada
151461   298574  12/16/2022 4:49       Ms       Mexico

In [31]:
#Dataset USERS
#Dropped columns:
#-

In [32]:
df_logins.tail()

,id_log,id_user,log_date,user_agent,referer_source
240893,345457,298570,12/16/2022 1:13,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,www.google.com
240894,345458,298571,12/16/2022 1:52,Mozilla/5.0 (iPhone; CPU iPhone OS 16_0 like M...,www.google.com
240895,345459,298572,12/16/2022 3:41,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,www.google.com
240896,345460,298573,12/16/2022 3:41,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,www.google.com
240897,345461,298574,12/16/2022 4:49,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,www.google.com

## Feature creation

In [33]:
#   1. Creation of request_date_new (DS -df_requests)
# Creation of request_date_new from request_date.
# Type- object

#   2. Creation of request_day_day (DS -df_requests)
# Creation of request_day_week (Monday, Tuasday...) from request_date.
# Type of request_day_day - object

# 3. Creation of month_request (DS -df_requests)
# Creation of request_month (January, February, March...) from request_date.
# Type of month_request - object

# 4. Creation of day_time_request (DS -df_requests)
# Creation of day_time_request from request_date.
# 00:00 -6:00 - "night"
# 06:00 -12:00 - "morning"
# 12:00 -18:00 - "afternoon"
# 18:00 -24:00 - "evening"
# Type- object


# 5. Creation of days_before_departure (DS -df_requests)
# Creation of days_before_departure = start_date-request_date


# 6. Creation of in_europe (DS -df_requests)
# Creation of destination_exotic from destination_name if country in Europe or not (1 - europe, 0 - not europe)
# Type of in_europe - int64

# 7.  Creation of num_passengers (DS -df_requests)
# Creation of num_passengers from sum of variable adults and kids 
# Type of type_of_boat - int64

# 8. Creation of kid_on_board (DS -df_requests)
# Creation of kid_on_board telling if kids will be on board or not 
# Type of type_of_boat - int64

# 9. Creation of duration (DS -df_requests)
# Creation of duration that tells us the differance between end_date and start_date.
# Type of duration - int64

#TO BE CREATED
# 10. Creation of booked_already (DS -df_final)
# Creation of book_already that checks if the person ve already booked or not
# (1 - yes. 0 - no)


# 11. Create of is_MAC 
# Created from df_logins
# 1 for ['Macintosh', 'iPhone','iPad', 'iPod'], 0 for the rest

#TO BE CREATED
# 17. Creation of old_of_client (df_final)
# Creation of old_of_client that will be the request_date - creation_date.Â  Â 

#TO BE CREATED
# 18. Create month_depart
#Create month_depart that tells in which month client sail





#WHAT WAS DELETED:
# TO BE DELETED  Creation of num_req (DS -df_requests)
# Creation of num_req telling how many request were made by 1 user by request_date ()
# Type of duration - int64

# TO BE DELETED  Creating number_bookings per user_id (on bookings_df)
# Count booking per user_id (on bookings_df)

# 13. TO BE DELETED Creation of creation_month (DS -df_users)
# Creation of creation_month (January, February, March...) from creation_date.
# Type of request_month - object

#  TO BE DELETED 14. Creation of creation_day_period (DS -df_users)
# Creation of creation_day_period from users_date.
# 00:00 -6:00 - "night"
# 06:00 -12:00 - "morning"
# 12:00 -18:00 - "afternoon"
# 18:00 -24:00 - "evening"
# Type- object

# 15.TO BE DELETED Creation of num_logs (df_logins). 
# Count the number of logs per id_user.Â

In [34]:
#convert date columns from objects to datetime64
df_bookings['start_date']=pd.to_datetime(df_bookings['start_date'], format="%m/%d/%Y")
df_bookings['end_date']=pd.to_datetime(df_bookings['end_date'], format="%m/%d/%Y")

In [35]:
#convert date columns from objects to datetime64
df_requests['start_date']=pd.to_datetime(df_requests['start_date'], format="%m/%d/%Y")
df_requests['end_date']=pd.to_datetime(df_requests['end_date'], format="%m/%d/%Y")
df_requests['request_date']=pd.to_datetime(df_requests['request_date'], format="%m/%d/%Y %H:%M") #"%d/%m/%y %H:%M"

/var/folders/z9/1tdnb9p51tn6ymr3n54jfzk00000gn/T/ipykernel_15697/3828581838.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_requests['start_date']=pd.to_datetime(df_requests['start_date'], format="%m/%d/%Y")
/var/folders/z9/1tdnb9p51tn6ymr3n54jfzk00000gn/T/ipykernel_15697/3828581838.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_requests['end_date']=pd.to_datetime(df_requests['end_date'], format="%m/%d/%Y")
/var/folders/z9/1tdnb9p51tn6ymr3n54jfzk00000gn/T/ipykernel_15697/3828581838.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_requests['request_date']=pd.to_datetime(df_requests['request_date'], format="%m/%d/%Y %H:%M") #"%d/%m/%y %H:%M"

In [36]:
#   1. A Creation of request_date_new (DS -df_requests)
# Creation of request_date_new from request_date.
# Type- object

df_requests["request_date_new"]=pd.to_datetime(df_requests["request_date"]).dt.date
df_requests.head(5)

/var/folders/z9/1tdnb9p51tn6ymr3n54jfzk00000gn/T/ipykernel_15697/861169710.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_requests["request_date_new"]=pd.to_datetime(df_requests["request_date"]).dt.date

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date,end_date,flexible_date,request_date_new
0,2,47097,1,2015-01-29 12:56:00,16,1,Greece,0,5,2,2015-07-27,2015-08-01,3,2015-01-29
1,3,47098,1,2015-01-29 13:11:00,131,1,France,1,8,0,2015-08-08,2015-08-15,3,2015-01-29
2,4,47099,1,2015-01-29 13:12:00,297,0,Greece,0,4,0,2015-08-29,2015-09-12,0,2015-01-29
3,5,47100,1,2015-01-29 13:14:00,1371,0,Greece,0,6,0,2015-07-11,2015-07-18,7,2015-01-29
4,6,47100,0,2015-01-29 13:22:00,1059,0,Greece,0,7,0,2015-06-06,2015-06-13,0,2015-01-29

In [37]:
# 2. Creation of request_day_day (DS -df_requests)
# Creation of request_day_week (Monday, Tuasday...) from request_date.
# Type of request_day_day - object
df_requests["request_date_day"]=pd.to_datetime(df_requests["request_date"]).dt.day_name()    
df_requests.head(5)

/var/folders/z9/1tdnb9p51tn6ymr3n54jfzk00000gn/T/ipykernel_15697/4162545377.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_requests["request_date_day"]=pd.to_datetime(df_requests["request_date"]).dt.day_name()

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date,end_date,flexible_date,request_date_new,request_date_day
0,2,47097,1,2015-01-29 12:56:00,16,1,Greece,0,5,2,2015-07-27,2015-08-01,3,2015-01-29,Thursday
1,3,47098,1,2015-01-29 13:11:00,131,1,France,1,8,0,2015-08-08,2015-08-15,3,2015-01-29,Thursday
2,4,47099,1,2015-01-29 13:12:00,297,0,Greece,0,4,0,2015-08-29,2015-09-12,0,2015-01-29,Thursday
3,5,47100,1,2015-01-29 13:14:00,1371,0,Greece,0,6,0,2015-07-11,2015-07-18,7,2015-01-29,Thursday
4,6,47100,0,2015-01-29 13:22:00,1059,0,Greece,0,7,0,2015-06-06,2015-06-13,0,2015-01-29,Thursday

In [38]:
# 3. Creation of month_request (DS -df_requests)
# Creation of request_month (January, February, March...) from request_date.
# Type of month_request - object
df_requests['month_request'] = pd.to_datetime(df_requests['request_date']).dt.month_name()
df_requests.head(5)

/var/folders/z9/1tdnb9p51tn6ymr3n54jfzk00000gn/T/ipykernel_15697/3441943174.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_requests['month_request'] = pd.to_datetime(df_requests['request_date']).dt.month_name()

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date,end_date,flexible_date,request_date_new,request_date_day,month_request
0,2,47097,1,2015-01-29 12:56:00,16,1,Greece,0,5,2,2015-07-27,2015-08-01,3,2015-01-29,Thursday,January
1,3,47098,1,2015-01-29 13:11:00,131,1,France,1,8,0,2015-08-08,2015-08-15,3,2015-01-29,Thursday,January
2,4,47099,1,2015-01-29 13:12:00,297,0,Greece,0,4,0,2015-08-29,2015-09-12,0,2015-01-29,Thursday,January
3,5,47100,1,2015-01-29 13:14:00,1371,0,Greece,0,6,0,2015-07-11,2015-07-18,7,2015-01-29,Thursday,January
4,6,47100,0,2015-01-29 13:22:00,1059,0,Greece,0,7,0,2015-06-06,2015-06-13,0,2015-01-29,Thursday,January

In [39]:
# 4. Creation of day_time_request (DS -df_requests)
# Creation of day_time_request from request_date.
# 00:00 -6:00 - "night"
# 06:00 -12:00 - "morning"
# 12:00 -18:00 - "afternoon"
# 18:00 -24:00 - "evening"
# Type- object

df_requests['hour_request'] = pd.to_datetime(df_requests['request_date']).dt.hour
df_requests.loc[df_requests['hour_request'] <= 6, "day_time_request"] = "night"
df_requests.loc[(df_requests['hour_request'] > 6) & (df_requests['hour_request'] <= 12), "day_time_request"] = "morning"
df_requests.loc[(df_requests['hour_request'] > 12) & (df_requests['hour_request'] <= 18), "day_time_request"] = "afternoon"
df_requests.loc[df_requests['hour_request'] >= 18, "day_time_request"] = "evening"
df_requests.head(5)

/var/folders/z9/1tdnb9p51tn6ymr3n54jfzk00000gn/T/ipykernel_15697/2094315756.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_requests['hour_request'] = pd.to_datetime(df_requests['request_date']).dt.hour
/var/folders/z9/1tdnb9p51tn6ymr3n54jfzk00000gn/T/ipykernel_15697/2094315756.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_requests.loc[df_requests['hour_request'] <= 6, "day_time_request"] = "night"

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date,end_date,flexible_date,request_date_new,request_date_day,month_request,hour_request,day_time_request
0,2,47097,1,2015-01-29 12:56:00,16,1,Greece,0,5,2,2015-07-27,2015-08-01,3,2015-01-29,Thursday,January,12,morning
1,3,47098,1,2015-01-29 13:11:00,131,1,France,1,8,0,2015-08-08,2015-08-15,3,2015-01-29,Thursday,January,13,afternoon
2,4,47099,1,2015-01-29 13:12:00,297,0,Greece,0,4,0,2015-08-29,2015-09-12,0,2015-01-29,Thursday,January,13,afternoon
3,5,47100,1,2015-01-29 13:14:00,1371,0,Greece,0,6,0,2015-07-11,2015-07-18,7,2015-01-29,Thursday,January,13,afternoon
4,6,47100,0,2015-01-29 13:22:00,1059,0,Greece,0,7,0,2015-06-06,2015-06-13,0,2015-01-29,Thursday,January,13,afternoon

In [40]:
# 5. Creation of days_before_departure (DS -df_requests)
# Creation of days_before_departure = start_date-request_date

df_requests["days_before_departure"]=((df_requests["start_date"]-df_requests["request_date"])/np.timedelta64(1,"D")).astype(np.int64)
df_requests.head(3)

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date,end_date,flexible_date,request_date_new,request_date_day,month_request,hour_request,day_time_request,days_before_departure
0,2,47097,1,2015-01-29 12:56:00,16,1,Greece,0,5,2,2015-07-27,2015-08-01,3,2015-01-29,Thursday,January,12,morning,178
1,3,47098,1,2015-01-29 13:11:00,131,1,France,1,8,0,2015-08-08,2015-08-15,3,2015-01-29,Thursday,January,13,afternoon,190
2,4,47099,1,2015-01-29 13:12:00,297,0,Greece,0,4,0,2015-08-29,2015-09-12,0,2015-01-29,Thursday,January,13,afternoon,211

In [41]:
# 6. Creation of in_europe (DS -df_requests)
# Creation of destination_exotic from destination_name if country in Europe or not (1 - europe, 0 - not europe)
# Type of in_europe - int64

df_requests["country_lower_case"]=df_requests["country_name"].str.lower()

european_countries = ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom']
lowercase_countries = [country.lower() for country in european_countries]
df_requests["in_europe"]=df_requests["country_lower_case"].isin(lowercase_countries).astype(int)
df_requests.head(3)

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date,end_date,flexible_date,request_date_new,request_date_day,month_request,hour_request,day_time_request,days_before_departure,country_lower_case,in_europe
0,2,47097,1,2015-01-29 12:56:00,16,1,Greece,0,5,2,2015-07-27,2015-08-01,3,2015-01-29,Thursday,January,12,morning,178,greece,1
1,3,47098,1,2015-01-29 13:11:00,131,1,France,1,8,0,2015-08-08,2015-08-15,3,2015-01-29,Thursday,January,13,afternoon,190,france,1
2,4,47099,1,2015-01-29 13:12:00,297,0,Greece,0,4,0,2015-08-29,2015-09-12,0,2015-01-29,Thursday,January,13,afternoon,211,greece,1

In [42]:
# 7.  Creation of num_passengers (DS -df_requests)
# Creation of num_passengers from sum of variable adults and kids 
# Type of type_of_boat - int64
df_requests['num_passengers']=df_requests['adults']+df_requests['kids']
df_requests.head(5)

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date,end_date,flexible_date,request_date_new,request_date_day,month_request,hour_request,day_time_request,days_before_departure,country_lower_case,in_europe,num_passengers
0,2,47097,1,2015-01-29 12:56:00,16,1,Greece,0,5,2,2015-07-27,2015-08-01,3,2015-01-29,Thursday,January,12,morning,178,greece,1,7
1,3,47098,1,2015-01-29 13:11:00,131,1,France,1,8,0,2015-08-08,2015-08-15,3,2015-01-29,Thursday,January,13,afternoon,190,france,1,8
2,4,47099,1,2015-01-29 13:12:00,297,0,Greece,0,4,0,2015-08-29,2015-09-12,0,2015-01-29,Thursday,January,13,afternoon,211,greece,1,4
3,5,47100,1,2015-01-29 13:14:00,1371,0,Greece,0,6,0,2015-07-11,2015-07-18,7,2015-01-29,Thursday,January,13,afternoon,162,greece,1,6
4,6,47100,0,2015-01-29 13:22:00,1059,0,Greece,0,7,0,2015-06-06,2015-06-13,0,2015-01-29,Thursday,January,13,afternoon,127,greece,1,7

In [43]:
# 8. Creation of kid_on_board (DS -df_requests)
# Creation of kid_on_board telling if kids will be on board or not 
# Type of type_of_boat - int64

df_requests['kid_on_board'] = df_requests['kids'].apply(lambda x: 1 if x > 0 else 0)
df_requests.head(2)

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date,end_date,flexible_date,request_date_new,request_date_day,month_request,hour_request,day_time_request,days_before_departure,country_lower_case,in_europe,num_passengers,kid_on_board
0,2,47097,1,2015-01-29 12:56:00,16,1,Greece,0,5,2,2015-07-27,2015-08-01,3,2015-01-29,Thursday,January,12,morning,178,greece,1,7,1
1,3,47098,1,2015-01-29 13:11:00,131,1,France,1,8,0,2015-08-08,2015-08-15,3,2015-01-29,Thursday,January,13,afternoon,190,france,1,8,0

In [44]:
# 9. Creation of duration (DS -df_requests)
# Creation of duration that tells us the differance between end_date and start_date.
# Type of duration - int64
df_requests["duration"]=((df_requests["end_date"]-df_requests["start_date"])/np.timedelta64(1,"D")).astype(np.int64)

In [45]:
# 10. Creation of booked_already (DS -df_final)
# Creation of book_already that checks if the person ve already booked or not
# (1 - yes. 0 - no)

In [46]:
# 11. Create of is_MAC and nb_of_logs (TO BE DELETED?)
# Created from df_logins
# 1 for ['Macintosh', 'iPhone','iPad', 'iPod'], 0 for the rest

In [47]:
# Identify if log device is Apple product or not
def get_mac(user_agent):
    mac_list = ['Macintosh', 'iPhone','iPad', 'iPod']
    for mac in mac_list:
        if mac in user_agent:
            return 1
    return 0

In [48]:
# Add is_Mac column to user_logins dataframe
df_logins['is_mac']=df_logins['user_agent'].apply(get_mac)

In [49]:
# Groupby on id_user to 1) Gives the mean type of device used across all logins, 2) Count nb of logins per user and add columns
%time
mac_log_df = df_logins.groupby('id_user').agg({'is_mac':'mean','log_date':'count'})\
                                         .rename(columns={"log_date": "nb_of_logs"})

CPU times: user 4 Âµs, sys: 1 Âµs, total: 5 Âµs
Wall time: 7.87 Âµs

In [50]:
# Transform the mean into the most commonly used type of device
%time
common_device = lambda x: 0 if x<0.5 else 1
# common_device(0.8)
mac_log_df['is_mac']= mac_log_df['is_mac'].apply(common_device)
mac_log_df

CPU times: user 3 Âµs, sys: 1 Âµs, total: 4 Âµs
Wall time: 7.87 Âµs

         is_mac  nb_of_logs
id_user
1             0          21
6             0         141
10            0           2
14            0           1
17            0          15
...         ...         ...
298570        1           1
298571        1           1
298572        1           1
298573        0           1
298574        0           1

[150654 rows x 2 columns]

# Merge

## merge requests with bookings

In [51]:
#merge left to keep all requests and only bookings with requests
merged_df= df_requests.merge(df_bookings,on='id_user', how='left', suffixes=['_rq', '_bk'])

In [52]:
merged_df.shape

(246959, 28)

In [53]:
df_requests.shape

(200676, 24)

In [54]:
#merged_df[merged_df['id_user']==41802].sort_values(by='date_diff', ascending=True).drop_duplicates(subset='id_request')

## Merge with users

In [55]:
merged_df= merged_df.merge(df_users,on='id_user',how='left', suffixes=['','_us'])

In [56]:
merged_df.shape

(246959, 31)

## Merging User_log table with type of device and nb of logs

In [57]:
#Merge mac_log_df to merged_df and add the suffix lg (for log)
merged_df= merged_df.merge(mac_log_df,on='id_user',how='left', suffixes=['','_lg'])

In [58]:
merged_df.columns

Index(['id_request', 'id_user', 'is_new_user', 'request_date',
       'id_charter_company', 'charter_type', 'country_name',
       'destination_flexible', 'adults', 'kids', 'start_date_rq',
       'end_date_rq', 'flexible_date', 'request_date_new', 'request_date_day',
       'month_request', 'hour_request', 'day_time_request',
       'days_before_departure', 'country_lower_case', 'in_europe',
       'num_passengers', 'kid_on_board', 'duration', 'id_booking',
       'country_end_name', 'start_date_bk', 'end_date_bk', 'creation_date',
       'civility', 'country_name_us', 'is_mac', 'nb_of_logs'],
      dtype='object')

# Feature creation

In [59]:
# Creation of seniority_of_client
merged_df["creation_date"].replace("0000-00-00 00:00:00","7/19/2009 10:54",inplace=True)
merged_df["creation_date"]=pd.to_datetime(merged_df['creation_date'], format="%m/%d/%Y %H:%M")
merged_df["seniority_of_client"]=(merged_df["request_date"]-merged_df["creation_date"]).dt.days

In [60]:
# Creation of month_depart
merged_df['month_depart'] = pd.to_datetime(merged_df['start_date_rq']).dt.month_name()

# Create target

In [61]:
# Calculate the difference between the request's start date and booking's start date
merged_df['date_diff'] = np.abs(pd.to_datetime(merged_df['start_date_rq']) - pd.to_datetime(merged_df['start_date_bk']))

# Check if the difference is smaller than a certain threshold
#threshold = pd.Timedelta('14 days')

# Calculate the difference between the request's start date and booking's start date
merged_df['date_diff'] = np.abs(pd.to_datetime(merged_df['start_date_rq']) - pd.to_datetime(merged_df['start_date_bk']))

# Check if the difference is smaller than a certain threshold
threshold = pd.Timedelta('14 days')

# Create new column 'booked' 1: request with booking, 0: request without booking or request with datediff > 14 days
merged_df['booked'] = np.where((merged_df['id_booking'].isna()) |  (merged_df['date_diff'] > threshold) , 0, 1)

In [62]:
merged_df.shape

(246959, 37)

In [63]:
merged_df[merged_df["id_user"]==41802]

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date_rq,end_date_rq,flexible_date,request_date_new,request_date_day,month_request,hour_request,day_time_request,days_before_departure,country_lower_case,in_europe,num_passengers,kid_on_board,duration,id_booking,country_end_name,start_date_bk,end_date_bk,creation_date,civility,country_name_us,is_mac,nb_of_logs,seniority_of_client,month_depart,date_diff,booked
603,434,41802,0,2015-02-06 21:22:00,240,0,Turkey,0,2,1,2015-05-02,2015-05-09,0,2015-02-06,Friday,February,21,evening,84,turkey,0,3,1,7,5221.0,Turkey,2014-09-27,2014-10-04,2014-08-10 11:32:00,Mr,Russia,1.0,1.0,180.0,May,217 days,0
604,434,41802,0,2015-02-06 21:22:00,240,0,Turkey,0,2,1,2015-05-02,2015-05-09,0,2015-02-06,Friday,February,21,evening,84,turkey,0,3,1,7,6062.0,Turkey,2015-05-02,2015-05-09,2014-08-10 11:32:00,Mr,Russia,1.0,1.0,180.0,May,0 days,1
605,434,41802,0,2015-02-06 21:22:00,240,0,Turkey,0,2,1,2015-05-02,2015-05-09,0,2015-02-06,Friday,February,21,evening,84,turkey,0,3,1,7,6932.0,Italy,2015-07-18,2015-07-25,2014-08-10 11:32:00,Mr,Russia,1.0,1.0,180.0,May,77 days,0
8012,6412,41802,0,2015-05-16 19:07:00,240,0,Italy,0,2,1,2015-07-18,2015-07-25,0,2015-05-16,Saturday,May,19,evening,62,italy,1,3,1,7,5221.0,Turkey,2014-09-27,2014-10-04,2014-08-10 11:32:00,Mr,Russia,1.0,1.0,279.0,July,294 days,0
8013,6412,41802,0,2015-05-16 19:07:00,240,0,Italy,0,2,1,2015-07-18,2015-07-25,0,2015-05-16,Saturday,May,19,evening,62,italy,1,3,1,7,6062.0,Turkey,2015-05-02,2015-05-09,2014-08-10 11:32:00,Mr,Russia,1.0,1.0,279.0,July,77 days,0
8014,6412,41802,0,2015-05-16 19:07:00,240,0,Italy,0,2,1,2015-07-18,2015-07-25,0,2015-05-16,Saturday,May,19,evening,62,italy,1,3,1,7,6932.0,Italy,2015-07-18,2015-07-25,2014-08-10 11:32:00,Mr,Russia,1.0,1.0,279.0,July,0 days,1

In [64]:
# Drop duplicated requests

merged_df = merged_df.sort_values(by='date_diff', ascending=True).drop_duplicates(subset='id_request', keep='first')

In [65]:
# Re-order
merged_df = merged_df.sort_values(by='id_request', ascending=True)

In [66]:
merged_df[merged_df["id_user"]==41802]

,id_request,id_user,is_new_user,request_date,id_charter_company,charter_type,country_name,destination_flexible,adults,kids,start_date_rq,end_date_rq,flexible_date,request_date_new,request_date_day,month_request,hour_request,day_time_request,days_before_departure,country_lower_case,in_europe,num_passengers,kid_on_board,duration,id_booking,country_end_name,start_date_bk,end_date_bk,creation_date,civility,country_name_us,is_mac,nb_of_logs,seniority_of_client,month_depart,date_diff,booked
604,434,41802,0,2015-02-06 21:22:00,240,0,Turkey,0,2,1,2015-05-02,2015-05-09,0,2015-02-06,Friday,February,21,evening,84,turkey,0,3,1,7,6062.0,Turkey,2015-05-02,2015-05-09,2014-08-10 11:32:00,Mr,Russia,1.0,1.0,180.0,May,0 days,1
8014,6412,41802,0,2015-05-16 19:07:00,240,0,Italy,0,2,1,2015-07-18,2015-07-25,0,2015-05-16,Saturday,May,19,evening,62,italy,1,3,1,7,6932.0,Italy,2015-07-18,2015-07-25,2014-08-10 11:32:00,Mr,Russia,1.0,1.0,279.0,July,0 days,1

In [ ]:
#merged_df = merged_df[[ 'id_user', 'is_new_user', 'start_date_rq',
#       'end_date_rq' ,
#       'id_charter_company', 'charter_type', 'country_name',
#       'destination_flexible', 'flexible_date', 'request_date_day',
#       'month_request', 'day_time_request',
#       'days_before_departure',  'in_europe',
#       'num_passengers', 'kid_on_board', 'duration', 'id_booking',
#        'start_date_bk',
#       'end_date_bk',   'civility',
#       'country_name_us', 'is_mac', 'nb_of_logs', 'booked']]

# Outliers

In [ ]:
import plotly.express as px


# Outliers analysis:
# ðµð»ââï¸ Dataset distributions and patterns
# ðµð»ââï¸ Central tendency metrics such as the mean of a feature
# ðµð»ââï¸ Dispersion metrics such as standard deviation
# ð¤ Performance of a Machine Learning model

#Conclusions (code below):
# delete rowns with days_before_departure values with bigger than 356*2=712 days
# delete rowns with num_passangers values with bigger than 20 days
# delete rows with duration values bigger than 28 days
# Replacing/deleting missing 'country_name'
# #Replacing/deleting missing 'country_name_us'
# replacing or deleting Dr/Prof/Nan civility

In [ ]:
fig = px.histogram(merged_df, x='id_charter_company')
fig.show()
# The biggest renter in the world. 4 times bigger than second, third company one.

In [ ]:
fig = px.histogram(merged_df, x='charter_type')
fig.show()

In [ ]:
fig = px.histogram(merged_df, x='destination_flexible')
fig.show()

In [ ]:
fig = px.histogram(merged_df, x='flexible_date')
fig.show()

In [ ]:

fig = px.histogram(merged_df, x='num_passengers')
fig.show()

In [ ]:
fig = px.box(merged_df, y="num_passengers")
fig.show()
# we keep all rows

In [ ]:
merged_df.columns

In [ ]:
fig = px.histogram(merged_df, x='request_date_day')
fig.show()

In [ ]:
fig = px.histogram(merged_df, x='month_request')
fig.show()

In [ ]:
fig = px.histogram(merged_df, x='day_time_request')
fig.show()

In [ ]:
fig = px.box(merged_df, y="days_before_departure")
fig.show()
# delete rowns with days_before_departure values with bigger than 365*2=730 days

In [70]:
merged_df.drop(merged_df[merged_df["days_before_departure"] > 730].index, inplace = True)

In [ ]:
fig = px.histogram(merged_df, x='in_europe')
fig.show()

In [ ]:
fig = px.box(merged_df, x="duration")
fig.show()
# delete rows with duration values bigger than 28 days

In [ ]:
fig = px.histogram(merged_df, x='duration')
fig.show()

In [71]:
merged_df.drop(merged_df[merged_df["duration"] > 28].index, inplace = True)

In [ ]:
fig = px.histogram(merged_df, x='civility')
fig.show()

In [74]:
merged_df.isna().sum()

id_request                    0
id_user                       0
is_new_user                   0
request_date                  0
id_charter_company            0
charter_type                  0
country_name                152
destination_flexible          0
adults                        0
kids                          0
start_date_rq                 0
end_date_rq                   0
flexible_date                 0
request_date_new              0
request_date_day              0
month_request                 0
hour_request                  0
day_time_request              0
days_before_departure         0
country_lower_case          152
in_europe                     0
num_passengers                0
kid_on_board                  0
duration                      0
id_booking               152221
country_end_name         152226
start_date_bk            152226
end_date_bk              152226
creation_date               235
civility                    495
country_name_us             235
is_mac                     1179
nb_of_logs                 1179
seniority_of_client         235
month_depart                  0
date_diff                152226
booked                        0
dtype: int64

In [ ]:
#Replacing/deleting 'country_name'

# merged_df['country_name'].apply(lambda x: x.fillna(x.mode, inplace=True))
#1. Change by mode
#merged_df['country_name'] = merged_df['country_name'].fillna(merged_df['country_name'].mode()[0])
#2. Drop rows
#merged_df = merged_df[merged_df['country_name'].notna()]

In [ ]:
#Replacing/deleting 'country_name_us'

# merged_df['country_name_us'].apply(lambda x: x.fillna(x.mode, inplace=True))
#1. Change by mode
#merged_df['country_name_us'] = merged_df['country_name_us'].fillna(merged_df['country_name_us'].mode()[0])
#2. Drop rows
#merged_df = merged_df[merged_df['country_name_us'].notna()]

# Problems with merge (to be checked)

In [ ]:
## Two encountered problems with merge:

In [ ]:
df_requests[df_requests["id_user"]==41802]

In [ ]:
df_bookings[df_bookings["id_user"]==41802]

In [ ]:
df_logins[df_logins["id_user"]==41802]

In [ ]:
df_users[df_users["id_user"]==41802]

In [ ]:
#example of id_user=41802  where we keep two requests and assign them bookings

merged_df[merged_df["id_user"]==41802]

In [ ]:
merged_df[merged_df["id_user"]==41802]

In [ ]:
#Second problem with merge

In [ ]:
df_requests[df_requests["id_user"]==41848]

In [ ]:
df_bookings[df_bookings["id_user"]==41848]

In [ ]:
df_logins[df_logins["id_user"]==41848]

In [ ]:
df_users[df_users["id_user"]==41848]

In [ ]:
merged_df[merged_df["id_user"]==41848]

In [ ]:
# Out of 4 initial requests we kept 2 requests that requests/departure dates were similar. We lost all requests that werent booked. 
merged_df[merged_df["id_user"]==47097]

# Pipeline

In [67]:
# Function to transform civility column with good proportion
import random

def civility_replacer(serie):
    # Replace values of 'Dr.' and 'Prof.' with NaN
    values_to_replace = ['Dr.', 'Prof.']
    serie.replace(values_to_replace, np.nan, inplace=True)

    # Calculate the ratio of female to male
    female_count = serie[serie['civility'] == 'Ms'].shape[0]
    male_count = serie[serie['civility'] == 'Mr'].shape[0]
    ratio = round(female_count / (female_count + male_count), 1)

    # Replace NaN values with 'Ms' or 'Mr' using the calculated ratio
    nan_indexes = serie[serie.isna()].index
    replacement = random.choices(['Ms', 'Mr'], weights=[ratio, (1-ratio)], k=len(nan_indexes))
    serie.loc[nan_indexes, 'civility'] = replacement
    #merged_df['civility'].loc[nan_indexes, 'civility'] = replacement
    return serie

In [68]:
object_list = list(merged_df.select_dtypes(include=['object']).columns)
object_list

['country_name',
 'request_date_new',
 'request_date_day',
 'month_request',
 'day_time_request',
 'country_lower_case',
 'country_end_name',
 'civility',
 'country_name_us',
 'month_depart']

In [69]:
from sklearn.preprocessing import RobustScaler, StandardScaler, OneHotEncoder, FunctionTransformer
from sklearn.pipeline import Pipeline, make_pipeline, FeatureUnion, make_union
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer, make_column_transformer, make_column_selector
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.impute import SimpleImputer


r_scaler = RobustScaler()
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')
imputer = SimpleImputer(strategy='most_frequent')
ohe_custom = OneHotEncoder(sparse=False, handle_unknown='ignore',drop = 'if_binary' )

num_transformer = make_pipeline(imputer, r_scaler)
num_col = make_column_selector(dtype_include=['int64','float64'])

cat_transformer = make_pipeline(imputer, ohe)
cat_col = ['country_name',
         'request_date_day',
         'month_request',
         'day_time_request',
         'country_name_us']

civility = FunctionTransformer(lambda x: civility_replacer(x))
civility.get_feature_names_out = (lambda self: ['civility'])

custom_transformer = make_pipeline(civility, ohe_custom)
custom_col = ['civility']
custom_transformer.get_feature_names_out = (lambda self: ['civility'])


preproc_basic = make_column_transformer(
            (num_transformer,num_col),
            (cat_transformer,cat_col),
            (custom_transformer, custom_col),
            remainder='passthrough')






model = LogisticRegression(max_iter=1000)

preproc_full = make_pipeline(preproc_basic, model)

preproc_full

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('robustscaler',
                                                                   RobustScaler())]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImp...
                                                   'request_date_day',
                                                   'month_request',
                                                   'day_time_request',
                                                   'country_name_us']),
                                                 ('pipeline-3',
                                                  Pipeline(steps=[('functiontransformer',
                                                                   FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder(drop='if_binary',
                                                                                 handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['civility'])])),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [70]:
preproc_basic

ColumnTransformer(remainder='passthrough',
                  transformers=[('pipeline-1',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('robustscaler',
                                                  RobustScaler())]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                ('pipeline-2',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('one...
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False))]),
                                 ['country_name', 'request_date_day',
                                  'month_request', 'day_time_request',
                                  'country_name_us']),
                                ('pipeline-3',
                                 Pipeline(steps=[('functiontransformer',
                                                  FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                 ('onehotencoder',
                                                  OneHotEncoder(drop='if_binary',
                                                                handle_unknown='ignore',
                                                                sparse=False))]),
                                 ['civility'])])

In [182]:
# preproc_basic.get_feature_names_out()

In [71]:
# Clean all columns of merged_df to be used in final data

merged_df.columns

Index(['id_request', 'id_user', 'is_new_user', 'request_date',
       'id_charter_company', 'charter_type', 'country_name',
       'destination_flexible', 'adults', 'kids', 'start_date_rq',
       'end_date_rq', 'flexible_date', 'request_date_new', 'request_date_day',
       'month_request', 'hour_request', 'day_time_request',
       'days_before_departure', 'country_lower_case', 'in_europe',
       'num_passengers', 'kid_on_board', 'duration', 'id_booking',
       'country_end_name', 'start_date_bk', 'end_date_bk', 'creation_date',
       'civility', 'country_name_us', 'is_mac', 'nb_of_logs',
       'seniority_of_client', 'month_depart', 'date_diff', 'booked'],
      dtype='object')

In [72]:
data = merged_df[['id_user', 'is_new_user', 'id_charter_company', 'charter_type', 'country_name',
       'destination_flexible', 'flexible_date', 'request_date_day',
       'month_request', 'day_time_request',
       'days_before_departure',  'in_europe',
       'num_passengers', 'kid_on_board', 'duration', 'civility',
       'country_name_us', 'is_mac', 'booked']]

In [73]:
data.columns

Index(['id_user', 'is_new_user', 'id_charter_company', 'charter_type',
       'country_name', 'destination_flexible', 'flexible_date',
       'request_date_day', 'month_request', 'day_time_request',
       'days_before_departure', 'in_europe', 'num_passengers', 'kid_on_board',
       'duration', 'civility', 'country_name_us', 'is_mac', 'booked'],
      dtype='object')

## First model before re-balancing

In [75]:
# Defining the features and the target

X = data.drop(columns=['booked'])
y = data['booked']

# Train-Test split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)


# y_train=pd.DataFrame(y_train)
# y_test=pd.DataFrame(y_test)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((140473, 18), (60203, 18), (140473,), (60203,))

In [76]:
preproc_basic.fit_transform(X_train).shape

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(140473, 320)

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200676 entries, 0 to 246958
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id_user                200676 non-null  int64
 1   is_new_user            200676 non-null  int64
 2   id_charter_company     200676 non-null  int64
 3   charter_type           200676 non-null  int64
 4   country_name           200521 non-null  object
 5   destination_flexible   200676 non-null  int64
 6   flexible_date          200676 non-null  int64
 7   request_date_day       200676 non-null  object
 8   month_request          200676 non-null  object
 9   day_time_request       200676 non-null  object
 10  days_before_departure  200676 non-null  int64
 11  in_europe              200676 non-null  int64
 12  num_passengers         200676 non-null  int64
 13  kid_on_board           200676 non-null  int64
 14  duration               200676 non-null  int64
 15  civility               200177 non-null  object
 16  country_name_us        200438 non-null  object
 17  is_mac                 199484 non-null  float64
 18  booked                 200676 non-null  int64
dtypes: float64(1), int64(12), object(6)
memory usage: 30.6+ MB

In [78]:
data.nunique()

id_user                  151665
is_new_user                   2
id_charter_company         1542
charter_type                  3
country_name                 89
destination_flexible          2
flexible_date                 4
request_date_day              7
month_request                12
day_time_request              4
days_before_departure       812
in_europe                     2
num_passengers               43
kid_on_board                  2
duration                    289
civility                      4
country_name_us             201
is_mac                        2
booked                        2
dtype: int64

In [79]:
X_train.columns

Index(['id_user', 'is_new_user', 'id_charter_company', 'charter_type',
       'country_name', 'destination_flexible', 'flexible_date',
       'request_date_day', 'month_request', 'day_time_request',
       'days_before_departure', 'in_europe', 'num_passengers', 'kid_on_board',
       'duration', 'civility', 'country_name_us', 'is_mac'],
      dtype='object')

In [80]:
X_train_preproc = preproc_basic.fit_transform(X_train)

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [81]:
preproc_full.fit(X_train,y_train)

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('robustscaler',
                                                                   RobustScaler())]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x125bb3ee0>),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImp...
                                                   'request_date_day',
                                                   'month_request',
                                                   'day_time_request',
                                                   'country_name_us']),
                                                 ('pipeline-3',
                                                  Pipeline(steps=[('functiontransformer',
                                                                   FunctionTransformer(func=<function <lambda> at 0x1184d7eb0>)),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder(drop='if_binary',
                                                                                 handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['civility'])])),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [82]:
preproc_full.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [83]:
# array = preproc_full.predict(X_test)
# array.unique()

In [84]:
preproc_full.score(X_test, y_test)

0.8607544474527847

In [85]:
import sklearn

In [86]:
from sklearn.model_selection import cross_val_score, cross_validate

In [87]:
# Cross-validate Pipeline
cross_val_score(preproc_full, X_train, y_train, cv=5, scoring='accuracy',n_jobs=-1).mean()

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8618666892993525

In [88]:
# sklearn.metrics.get_scorer_names()

In [89]:
cv= cross_validate(preproc_full, X_train, y_train, scoring = ['accuracy', 'precision', 'recall', 'f1'], cv=5, n_jobs=-1)

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [90]:
pd.DataFrame(cv).mean()

fit_time          129.137324
score_time          0.398326
test_accuracy       0.861902
test_precision      0.455180
test_recall         0.006554
test_f1             0.012920
dtype: float64

## Re-balancing by undersampling

In [74]:
import sklearn

In [75]:
from sklearn.model_selection import cross_val_score, cross_validate

In [76]:
data.columns

Index(['id_user', 'is_new_user', 'id_charter_company', 'charter_type',
       'country_name', 'destination_flexible', 'flexible_date',
       'request_date_day', 'month_request', 'day_time_request',
       'days_before_departure', 'in_europe', 'num_passengers', 'kid_on_board',
       'duration', 'civility', 'country_name_us', 'is_mac', 'booked'],
      dtype='object')

In [77]:
data.shape

(200676, 19)

In [78]:
data.describe()

,id_user,is_new_user,id_charter_company,charter_type,destination_flexible,flexible_date,days_before_departure,in_europe,num_passengers,kid_on_board,duration,is_mac,booked
count,200676.000000,200676.000000,200676.000000,200676.000000,200676.000000,200676.000000,200676.000000,200676.000000,200676.000000,200676.000000,200676.000000,199484.000000,200676.000000
mean,140589.172761,0.681437,804.565882,0.371684,0.073168,1.290722,115.727750,0.827319,6.064866,0.321319,8.423788,0.496747,0.138293
std,75049.302810,0.465920,602.998513,0.511129,0.260412,2.261783,165.369051,0.377972,3.220687,0.466984,97.366436,0.499991,0.345208
min,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,-19183.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,77884.750000,0.000000,223.000000,0.000000,0.000000,0.000000,32.000000,1.000000,4.000000,0.000000,6.000000,0.000000,0.000000
50%,131482.500000,1.000000,725.000000,0.000000,0.000000,0.000000,86.000000,1.000000,6.000000,0.000000,7.000000,0.000000,0.000000
75%,195845.000000,1.000000,1340.000000,1.000000,0.000000,1.000000,171.000000,1.000000,8.000000,1.000000,7.000000,1.000000,0.000000
max,298574.000000,1.000000,2149.000000,2.000000,1.000000,7.000000,5526.000000,1.000000,42.000000,1.000000,32118.000000,1.000000,1.000000

In [79]:
# Create a train set and a test set
data_train, data_test = train_test_split(data, test_size = 0.20)

In [80]:
data_train.shape, data_test.shape

((160540, 19), (40136, 19))

### Create Target 1 dataframe from train set

In [81]:
data_1 = data_train[data_train['booked'] == 1]
data_1.shape

(22291, 19)

### Create Target 0 dataframe from train set and reduce it to 1.5 the size of Target 1 data set

In [82]:
data_0 = data_train[data_train['booked'] == 0]\
        .sample(n=round(len(data_1)*1.5), random_state=42)
data_0.shape

(33436, 19)

### Concatenate undersampled target 0 and target 1 datasets

In [83]:
data_undersampled = pd.concat([data_0, data_1], axis=0).sample(frac=1, random_state=42)
data_undersampled

,id_user,is_new_user,id_charter_company,charter_type,country_name,destination_flexible,flexible_date,request_date_day,month_request,day_time_request,days_before_departure,in_europe,num_passengers,kid_on_board,duration,civility,country_name_us,is_mac,booked
120058,148371,1,1100,1,Italy,0,0,Tuesday,March,morning,139,1,6,0,6,Mr,Italy,0.0,0
142704,172001,1,223,0,France,0,0,Wednesday,October,morning,317,1,3,0,7,Mr,Belgium,1.0,0
115338,75226,0,1075,0,Turkey,0,0,Wednesday,February,evening,128,0,6,0,7,Mr,Bulgaria,0.0,0
101091,130400,1,1007,1,Italy,0,0,Thursday,August,night,337,1,10,1,7,Ms,United Kingdom,1.0,0
230441,281868,1,52,0,France,0,0,Tuesday,June,morning,52,1,7,1,4,Ms,France,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81119,111543,1,915,0,Croatia,0,3,Monday,February,evening,165,1,9,1,7,Mr,United Kingdom,1.0,1
24808,64443,0,231,1,Guadeloupe,0,1,Sunday,January,evening,104,0,6,0,7,Mr,Switzerland,0.0,1
101726,82408,0,71,0,Croatia,0,0,Tuesday,August,evening,318,1,6,1,7,Mr,Germany,1.0,1
113038,141775,1,221,1,Greece,0,0,Saturday,January,evening,180,1,8,0,3,Ms,Spain,1.0,0
68059,69204,0,166,0,France,0,0,Saturday,July,morning,6,1,2,0,7,Mr,France,1.0,0

In [84]:
data_undersampled.shape

(55727, 19)

### Create X_train and y_train from rebalanced dataset

In [85]:
X_train = data_undersampled.drop(columns='booked')

In [86]:
y_train = data_undersampled['booked']

In [87]:
X_train.head()

,id_user,is_new_user,id_charter_company,charter_type,country_name,destination_flexible,flexible_date,request_date_day,month_request,day_time_request,days_before_departure,in_europe,num_passengers,kid_on_board,duration,civility,country_name_us,is_mac
120058,148371,1,1100,1,Italy,0,0,Tuesday,March,morning,139,1,6,0,6,Mr,Italy,0.0
142704,172001,1,223,0,France,0,0,Wednesday,October,morning,317,1,3,0,7,Mr,Belgium,1.0
115338,75226,0,1075,0,Turkey,0,0,Wednesday,February,evening,128,0,6,0,7,Mr,Bulgaria,0.0
101091,130400,1,1007,1,Italy,0,0,Thursday,August,night,337,1,10,1,7,Ms,United Kingdom,1.0
230441,281868,1,52,0,France,0,0,Tuesday,June,morning,52,1,7,1,4,Ms,France,0.0

### Create X_test and y_test from original test dataset

In [88]:
X_test = data_test.drop(columns='booked')
y_test = data_test['booked']

### Preprocessing X_train and X_test to generate all the encoded features

In [89]:
X_train_preproc = preproc_basic.fit_transform(X_train)

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [90]:
X_test_preproc = preproc_basic.transform(X_test)

In [91]:
X_train_preproc.shape, y_train.shape, X_test_preproc.shape, y_test.shape

((55727, 279), (55727,), (40136, 279), (40136,))

### Transforming them back to dataframes

In [92]:
# type(X_train_preproc)
X_train_preproc =  pd.DataFrame(X_train_preproc)
X_train_preproc.head()
# X_train_preproc.shape

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278
0,0.201879,0.0,0.434031,1.0,0.0,0.0,0.350746,0.0,0.00,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.400852,0.0,-0.363967,0.0,0.0,0.0,1.679104,0.0,-0.75,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-0.414030,-1.0,0.411283,0.0,0.0,0.0,0.268657,-1.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.050556,0.0,0.349409,1.0,0.0,0.0,1.828358,0.0,1.00,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.325974,0.0,-0.519563,0.0,0.0,0.0,-0.298507,0.0,0.25,1.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
X_test_preproc =  pd.DataFrame(X_test_preproc)

In [94]:
X_test_preproc.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278
0,0.385182,0.0,0.925387,0.0,0.0,3.0,0.089552,-1.0,0.50,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.008656,0.0,0.949955,1.0,0.0,0.0,2.126866,0.0,0.00,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.340305,0.0,-0.363967,1.0,0.0,7.0,2.119403,0.0,-0.50,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.183286,0.0,0.424022,1.0,0.0,0.0,1.746269,0.0,-0.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,-0.509803,0.0,-0.120109,1.0,0.0,3.0,-0.156716,-1.0,0.75,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
X_train_preproc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55727 entries, 0 to 55726
Columns: 279 entries, 0 to 278
dtypes: float64(279)
memory usage: 118.6 MB

In [96]:
X_test_preproc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40136 entries, 0 to 40135
Columns: 279 entries, 0 to 278
dtypes: float64(279)
memory usage: 85.4 MB

In [98]:
# y_train = pd.DataFrame(y_train)
y_train.info(), y_train.shape

In [97]:
# y_test = pd.DataFrame(y_test)
y_test.info(), y_test.shape

<class 'pandas.core.series.Series'>
Int64Index: 40136 entries, 140853 to 7688
Series name: booked
Non-Null Count  Dtype
--------------  -----
40136 non-null  int64
dtypes: int64(1)
memory usage: 1.6 MB

(None, (40136,))

In [114]:
# pip install lazypredict

In [115]:
# import lazypredict
# from lazypredict.Supervised import LazyClassifier

In [116]:
# clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
# models,predictions = clf.fit(X_train_preproc, X_test_preproc, y_train, y_test)
# models

In [118]:
preproc_full.fit(X_train,y_train)

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('robustscaler',
                                                                   RobustScaler())]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x125bb3ee0>),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImp...
                                                   'request_date_day',
                                                   'month_request',
                                                   'day_time_request',
                                                   'country_name_us']),
                                                 ('pipeline-3',
                                                  Pipeline(steps=[('functiontransformer',
                                                                   FunctionTransformer(func=<function <lambda> at 0x1184d7eb0>)),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder(drop='if_binary',
                                                                                 handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['civility'])])),
                ('logisticregression', LogisticRegression(max_iter=1000))])

In [120]:
prediction = preproc_full.predict(X_test)
prediction

array([1, 0, 0, ..., 0, 0, 1])

In [121]:
np.unique(prediction, return_counts=True)

(array([0, 1]), array([30689,  9447]))

In [122]:
preproc_full.score(X_test,y_test)

0.7619344229619295

In [127]:
cross_val_score(preproc_full, X_train, y_train, scoring='accuracy', cv=5, n_jobs=-1).mean()

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6681863053037781

In [128]:
cv= cross_validate(preproc_full, X_train, y_train, scoring = ['accuracy', 'precision', 'recall', 'f1'], cv=5, n_jobs=-1)

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [129]:
pd.DataFrame(cv).mean()

fit_time          47.039881
score_time         0.218098
test_accuracy      0.667756
test_precision     0.611386
test_recall        0.465225
test_f1            0.528327
dtype: float64

In [ ]:
import seaborn as sns

data = avant split
       avant le undersampling
       avant le pre-process

        
correlation = apres preprocess

In [ ]:
# Heatmap of pairwise correlations
correlation_matrix = X_train_preproc.corr()
column_names = correlation_matrix.columns
sns.heatmap(correlation_matrix, xticklabels=column_names, yticklabels=column_names,cmap= "bwr");

In [ ]:
# Converting the correlation matrix into a DataFrame
corr_df = correlation_matrix.stack().reset_index()
corr_df


# Renaming the columns
corr_df.columns = ['feature_1','feature_2', 'correlation']

# Remove "self correlations"
no_self_correlation = (corr_df['feature_1'] != corr_df['feature_2'])
corr_df = corr_df[no_self_correlation]


# Computing the absolute correlation
corr_df['absolute_correlation'] = np.abs(corr_df['correlation'])

# Showing the top 5 most correlated pairs of feature / :: double column to step every 2 lines
corr_df.sort_values(by="absolute_correlation", ascending=False).head(5*2)[::2]

In [ ]:
X_train_preproc.columns

## Structure a suivre pour l'essai de differents modeles

preproc_full_LogReg = make_pipeline(preproc_basic, LogisticRegression())
preproc_full_KNN = make_pipeline(preproc_basic, LogisticRegression())
preproc_full_SGDClassifier = make_pipeline(preproc_basic, LogisticRegression())

cross val sur chaque pipeline/model
garder les 2 meilleurs
Gridsearch
Sauvegarder le resultat dans example: search_KNN = GridSearchCV(pipeline_KNN) ou RandomizedSearchCV (voir Lesson:model Tuning)
search_KNN.best_params
search_KNN.best_estimator_  --> deja entraine (fit) --> plus besoin de faire preproc_full_KNN.fit(X_train, y_train)

model = search_KNN.best_estimator
model.predict( test)
model.score( test)

In [98]:
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, BaggingClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
import time

In [100]:
models = [LogisticRegression(), DecisionTreeClassifier(), RandomForestClassifier(), AdaBoostClassifier(), BaggingClassifier(), GradientBoostingClassifier(), KNeighborsClassifier()]

In [99]:
pipelines = []
pipeline_names = []
for model in models:
    pipeline_name = f"p_full_{str(model).split('()')[0]}"
    print(pipeline_name)
    pipeline_name = make_pipeline(preproc_basic, model)
    pipelines.append(pipeline_name)
    
pipelines

p_full_LogisticRegression
p_full_DecisionTreeClassifier
p_full_RandomForestClassifier
p_full_AdaBoostClassifier
p_full_BaggingClassifier
p_full_GradientBoostingClassifier
p_full_KNeighborsClassifier

[Pipeline(steps=[('columntransformer',
                  ColumnTransformer(remainder='passthrough',
                                    transformers=[('pipeline-1',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImputer(strategy='most_frequent')),
                                                                   ('robustscaler',
                                                                    RobustScaler())]),
                                                   <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                  ('pipeline-2',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImp...
                                                   ['country_name',
                                                    'request_date_day',
                                                    'month_request',
                                                    'day_time_request',
                                                    'country_name_us']),
                                                  ('pipeline-3',
                                                   Pipeline(steps=[('functiontransformer',
                                                                    FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                   ('onehotencoder',
                                                                    OneHotEncoder(drop='if_binary',
                                                                                  handle_unknown='ignore',
                                                                                  sparse=False))]),
                                                   ['civility'])])),
                 ('logisticregression', LogisticRegression())]),
 Pipeline(steps=[('columntransformer',
                  ColumnTransformer(remainder='passthrough',
                                    transformers=[('pipeline-1',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImputer(strategy='most_frequent')),
                                                                   ('robustscaler',
                                                                    RobustScaler())]),
                                                   <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                  ('pipeline-2',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImp...
                                                   ['country_name',
                                                    'request_date_day',
                                                    'month_request',
                                                    'day_time_request',
                                                    'country_name_us']),
                                                  ('pipeline-3',
                                                   Pipeline(steps=[('functiontransformer',
                                                                    FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                   ('onehotencoder',
                                                                    OneHotEncoder(drop='if_binary',
                                                                                  handle_unknown='ignore',
                                                                                  sparse=False))]),
                                                   ['civility'])])),
                 ('decisiontreeclassifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('columntransformer',
                  ColumnTransformer(remainder='passthrough',
                                    transformers=[('pipeline-1',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImputer(strategy='most_frequent')),
                                                                   ('robustscaler',
                                                                    RobustScaler())]),
                                                   <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                  ('pipeline-2',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImp...
                                                   ['country_name',
                                                    'request_date_day',
                                                    'month_request',
                                                    'day_time_request',
                                                    'country_name_us']),
                                                  ('pipeline-3',
                                                   Pipeline(steps=[('functiontransformer',
                                                                    FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                   ('onehotencoder',
                                                                    OneHotEncoder(drop='if_binary',
                                                                                  handle_unknown='ignore',
                                                                                  sparse=False))]),
                                                   ['civility'])])),
                 ('randomforestclassifier', RandomForestClassifier())]),
 Pipeline(steps=[('columntransformer',
                  ColumnTransformer(remainder='passthrough',
                                    transformers=[('pipeline-1',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImputer(strategy='most_frequent')),
                                                                   ('robustscaler',
                                                                    RobustScaler())]),
                                                   <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                  ('pipeline-2',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImp...
                                                   ['country_name',
                                                    'request_date_day',
                                                    'month_request',
                                                    'day_time_request',
                                                    'country_name_us']),
                                                  ('pipeline-3',
                                                   Pipeline(steps=[('functiontransformer',
                                                                    FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                   ('onehotencoder',
                                                                    OneHotEncoder(drop='if_binary',
                                                                                  handle_unknown='ignore',
                                                                                  sparse=False))]),
                                                   ['civility'])])),
                 ('adaboostclassifier', AdaBoostClassifier())]),
 Pipeline(steps=[('columntransformer',
                  ColumnTransformer(remainder='passthrough',
                                    transformers=[('pipeline-1',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImputer(strategy='most_frequent')),
                                                                   ('robustscaler',
                                                                    RobustScaler())]),
                                                   <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                  ('pipeline-2',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImp...
                                                   ['country_name',
                                                    'request_date_day',
                                                    'month_request',
                                                    'day_time_request',
                                                    'country_name_us']),
                                                  ('pipeline-3',
                                                   Pipeline(steps=[('functiontransformer',
                                                                    FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                   ('onehotencoder',
                                                                    OneHotEncoder(drop='if_binary',
                                                                                  handle_unknown='ignore',
                                                                                  sparse=False))]),
                                                   ['civility'])])),
                 ('baggingclassifier', BaggingClassifier())]),
 Pipeline(steps=[('columntransformer',
                  ColumnTransformer(remainder='passthrough',
                                    transformers=[('pipeline-1',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImputer(strategy='most_frequent')),
                                                                   ('robustscaler',
                                                                    RobustScaler())]),
                                                   <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                  ('pipeline-2',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImp...
                                                    'request_date_day',
                                                    'month_request',
                                                    'day_time_request',
                                                    'country_name_us']),
                                                  ('pipeline-3',
                                                   Pipeline(steps=[('functiontransformer',
                                                                    FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                   ('onehotencoder',
                                                                    OneHotEncoder(drop='if_binary',
                                                                                  handle_unknown='ignore',
                                                                                  sparse=False))]),
                                                   ['civility'])])),
                 ('gradientboostingclassifier', GradientBoostingClassifier())]),
 Pipeline(steps=[('columntransformer',
                  ColumnTransformer(remainder='passthrough',
                                    transformers=[('pipeline-1',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImputer(strategy='most_frequent')),
                                                                   ('robustscaler',
                                                                    RobustScaler())]),
                                                   <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                  ('pipeline-2',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImp...
                                                   ['country_name',
                                                    'request_date_day',
                                                    'month_request',
                                                    'day_time_request',
                                                    'country_name_us']),
                                                  ('pipeline-3',
                                                   Pipeline(steps=[('functiontransformer',
                                                                    FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                   ('onehotencoder',
                                                                    OneHotEncoder(drop='if_binary',
                                                                                  handle_unknown='ignore',
                                                                                  sparse=False))]),
                                                   ['civility'])])),
                 ('kneighborsclassifier', KNeighborsClassifier())])]

In [101]:
name = "LogisticRegression()".split('()')[0]
name

'LogisticRegression'

In [102]:
names = [str(model).split('()')[0] for model in models]
names

['LogisticRegression',
 'DecisionTreeClassifier',
 'RandomForestClassifier',
 'AdaBoostClassifier',
 'BaggingClassifier',
 'GradientBoostingClassifier',
 'KNeighborsClassifier']

In [49]:


# p_full_LogReg = make_pipeline(preproc_basic, LogisticRegression()) 
# p_full_SGDClassifier = make_pipeline(preproc_basic, SGDClassifier())
# p_full_KNN = make_pipeline(preproc_basic, KNN())



names = [str(model).split('()')[0] for model in models]
for pipeline, name in zip(pipelines, names):
    print (name)
    start = time.time()
    for score in ["accuracy", "precision", "recall","f1"]:
        print (score," : ",cross_val_score(pipeline, X_train, y_train,scoring=score, cv=5, n_jobs=-1).mean()),
    print ("Time", time.time() - start, "\n")

## Selecting the 2 best models and Fine tuning

In [54]:
# p_full_RandomForestClassifier = make_pipeline(preproc_basic, RandomForestClassifier(n_estimators=10000))
# p_full_GradientBoosterClassifier = make_e_pipeline(preproc_basic, GradientBoostingClassifier(learning_rate=0.05, n_estimators=10000)

In [103]:
rfc = RandomForestClassifier(n_estimators=5000)
gbc = GradientBoostingClassifier(learning_rate=0.05, n_estimators=5000)
selected_models = [rfc, gbc]

In [105]:
p_full_RandomForestClassifier = make_pipeline(preproc_basic, rfc)
p_full_GradientBoosterClassifier = make_pipeline(preproc_basic, gbc)

In [56]:
cross_val_score(p_full_RandomForestClassifier, X_train, y_train, scoring='accuracy', cv = 5, n_jobs=-1).mean()

In [106]:
selected_pipelines = []
pipeline_names = []

for model in selected_models:
    pipeline_name = f"p_full_{str(model).split('()')[0]}"
    print(pipeline_name)
    pipeline_names.append(pipeline_name)
    pipeline_name = make_pipeline(preproc_basic, model)
    selected_pipelines.append(pipeline_name)

print(pipeline_names)
selected_pipelines

p_full_RandomForestClassifier(n_estimators=5000)
p_full_GradientBoostingClassifier(learning_rate=0.05, n_estimators=5000)
['p_full_RandomForestClassifier(n_estimators=5000)', 'p_full_GradientBoostingClassifier(learning_rate=0.05, n_estimators=5000)']

[Pipeline(steps=[('columntransformer',
                  ColumnTransformer(remainder='passthrough',
                                    transformers=[('pipeline-1',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImputer(strategy='most_frequent')),
                                                                   ('robustscaler',
                                                                    RobustScaler())]),
                                                   <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                  ('pipeline-2',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImp...
                                                    'request_date_day',
                                                    'month_request',
                                                    'day_time_request',
                                                    'country_name_us']),
                                                  ('pipeline-3',
                                                   Pipeline(steps=[('functiontransformer',
                                                                    FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                   ('onehotencoder',
                                                                    OneHotEncoder(drop='if_binary',
                                                                                  handle_unknown='ignore',
                                                                                  sparse=False))]),
                                                   ['civility'])])),
                 ('randomforestclassifier',
                  RandomForestClassifier(n_estimators=5000))]),
 Pipeline(steps=[('columntransformer',
                  ColumnTransformer(remainder='passthrough',
                                    transformers=[('pipeline-1',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImputer(strategy='most_frequent')),
                                                                   ('robustscaler',
                                                                    RobustScaler())]),
                                                   <sklearn.compose._column_transformer.make_column_selector object at 0x1328e7b20>),
                                                  ('pipeline-2',
                                                   Pipeline(steps=[('simpleimputer',
                                                                    SimpleImp...
                                                    'day_time_request',
                                                    'country_name_us']),
                                                  ('pipeline-3',
                                                   Pipeline(steps=[('functiontransformer',
                                                                    FunctionTransformer(func=<function <lambda> at 0x12529a710>)),
                                                                   ('onehotencoder',
                                                                    OneHotEncoder(drop='if_binary',
                                                                                  handle_unknown='ignore',
                                                                                  sparse=False))]),
                                                   ['civility'])])),
                 ('gradientboostingclassifier',
                  GradientBoostingClassifier(learning_rate=0.05,
                                             n_estimators=5000))])]

In [107]:
names
index = [2,-2]
selected_names = [names[i] for i in index]
selected_names

['RandomForestClassifier', 'GradientBoostingClassifier']

In [109]:
pipeline_names

['p_full_RandomForestClassifier(n_estimators=5000)',
 'p_full_GradientBoostingClassifier(learning_rate=0.05, n_estimators=5000)']

In [110]:
for pipeline, name in zip(selected_pipelines, selected_names):
    print (name)
    start = time.time()
    for score in ["accuracy", "precision", "recall","f1"]:
        print (score," : ",cross_val_score(pipeline, X_train, y_train,scoring=score, cv=5, n_jobs=-1).mean()),
    print ("Time", time.time() - start, "\n")

RandomForestClassifier

/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/Users/benoitleny/.pyenv/versions/3.10.6/envs/salefriend/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

KeyboardInterrupt: